/* Nav*/
* {
  box-sizing: border-box;
}

.navbar,
.navbar-burger,
.menu,
.section {
  position: fixed;
}

/*.background {
  z-index: 1;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  background-image: url("../assets/picture/learn.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.5;
}*/
body {
  background-image: radial-gradient(
      circle at 20% 100%,
      rgba(184, 184, 184, 0.1) 0%,
      rgba(184, 184, 184, 0.1) 33%,
      rgba(96, 96, 96, 0.1) 33%,
      rgba(96, 96, 96, 0.1) 66%,
      rgba(7, 7, 7, 0.1) 66%,
      rgba(7, 7, 7, 0.1) 99%
    ),
    linear-gradient(40deg, #fa812f, #ffb22c, #f3c623, #fef3e2);
  background-repeat: no-repeat;
  background-size: cover;
}
body.open .content {
  filter: blur(10px);
}
button {
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}
.navbar {
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 72px;
  padding-left: 20px;
  padding-right: 72px;
  background: transparent;
  color: #f9f9f9;
}

.navbar > button {
  font-size: 25px;
}

.navbar-logo {
  height: 60px;
  padding-left: 20px;
  margin-top: 20px;
}

.navbar-burger {
  z-index: 3;
  top: 0;
  right: 0;
  display: grid;
  place-items: center;
  width: 72px;
  height: 72px;
  background-image: url("../assets/picture/menu.svg");
  background-repeat: no-repeat;
  background-position: center;
}

body.open .navbar-burger {
  background-image: url("../assets/picture/close.svg");
}

.navbar-search {
  border: 0;
  height: 40px;
  background: #2f3339 url("../assets/picture/search.svg");
  background-repeat: no-repeat;
  background-position: 10px 50%;
  border: 0;
  border-radius: 6px;
  padding-left: 36px;
  width: 180px;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-search::placeholder {
  color: #a7a7a7;
}

.menu {
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

body.open .menu {
  opacity: 1;
  visibility: visible;
}

.menu > a {
  color: #f9f9f9;
  font-size: 32px;
  font-family: "Euclid Circular A";
  text-decoration: none;
}

body.open .menu > a {
  animation: appear 0.3s both;
}

@keyframes appear {
  0% {
    opacity: 0;
    translate: 0 50px;
  }
  100% {
    opacity: 1;
  }
}
/* SECTION-1 */
.first {
  display: grid;
  grid-template-columns: 45% 50%;
  place-items: center;
  gap: 20px;

  overflow: hidden;
  padding: 15px 30px;
}

.description {
  color: #f3f3f3;
  padding: 0 50px;
}

.description h1 {
  display: grid;
  grid-template-columns: 50% 45%;
  place-items: center;
  gap: 60px;
  min-height: 100vh;
  padding: 20px 60px;
  font-size: clamp(2rem, 4vw, 3.5rem);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1px;
}

.svg-pict {
  display: grid;
  grid-template-columns: 45% 50%;
  place-items: center;
  width: auto;
  height: 100vh;
  overflow: hidden;
  padding: 100px;
  margin-right: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
}
