/* IMPORT CUSTOM FONT KALIAN DISINI */
@import url("https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&family=Lexend+Zetta:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Nav*/
* {
  box-sizing: border-box;
}

.navbar,
.navbar-burger,
.menu,
.section {
  position: fixed;
}

/*.background {
  z-index: 1;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  background-image: url("../assets/picture/learn.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.5;
}*/
body {
  background-image: radial-gradient(
      circle at 20% 100%,
      rgba(184, 184, 184, 0.1) 0%,
      rgba(184, 184, 184, 0.1) 33%,
      rgba(96, 96, 96, 0.1) 33%,
      rgba(96, 96, 96, 0.1) 66%,
      rgba(7, 7, 7, 0.1) 66%,
      rgba(7, 7, 7, 0.1) 99%
    ),
    linear-gradient(40deg, #fa812f, #ffb22c, #f3c623, #fef3e2);
  background-repeat: no-repeat;
  background-size: cover;
}
body.open .content {
  filter: blur(10px);
}
button {
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}
.navbar {
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 72px;
  padding-left: 20px;
  padding-right: 72px;
  background: transparent;
  color: #f9f9f9;
}

.navbar > button {
  font-size: 25px;
}

.navbar-logo {
  height: 60px;
  padding-left: 20px;
  margin-top: 20px;
}

.navbar-burger {
  z-index: 3;
  top: 0;
  right: 0;
  display: grid;
  place-items: center;
  width: 72px;
  height: 72px;
  background-image: url("../assets/picture/menu.svg");
  background-repeat: no-repeat;
  background-position: center;
}

body.open .navbar-burger {
  background-image: url("../assets/picture/close.svg");
}

.navbar-search {
  border: 0;
  height: 40px;
  background: #2f3339 url("../assets/picture/search.svg");
  background-repeat: no-repeat;
  background-position: 10px 50%;
  border: 0;
  border-radius: 6px;
  padding-left: 36px;
  width: 180px;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-search::placeholder {
  color: #a7a7a7;
}

.menu {
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

body.open .menu {
  opacity: 1;
  visibility: visible;
}

.menu > a {
  color: #f9f9f9;
  font-size: 32px;
  font-family: "Euclid Circular A";
  text-decoration: none;
}

body.open .menu > a {
  animation: appear 0.3s both;
}

@keyframes appear {
  0% {
    opacity: 0;
    translate: 0 50px;
  }
  100% {
    opacity: 1;
  }
}
/* SECTION-1 */
.first {
  display: grid;
  grid-template-columns: 45% 50%;
  place-items: center;
  gap: 20px;

  overflow: hidden;
  padding: 15px 30px;
}

.description {
  color: #f3f3f3;
  padding: 0 50px;
}

.description h1 {
  display: grid;
  grid-template-columns: 50% 45%;
  place-items: center;
  gap: 60px;
  padding: 20px 60px;
  font-family: "Lexend Exa", sans-serif;
  font-size: clamp(2rem, 4vw, 3.5rem);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1px;
}

.description p {
  font-size: clamp(0.9rem, 3vw, 1.25rem);
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 30px;
  color: #fff;
}

.svg-pict {
  display: grid;
  grid-template-columns: 45% 50%;
  place-items: center;
  width: auto;
  height: 100vh;
  overflow: hidden;
  padding: 100px;
  margin-right: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
}

/** SECOND - SECTION**/

.second-section .features-item {
  color: color-mix(in srgb, var(--default-color), transparent 20%);
}

.second-section .features-item + .features-item {
  margin-top: 100px;
}

@media (max-width: 640px) {
  .second-section .features-item + .features-item {
    margin-top: 40px;
  }
}

.second-section .features-item h3 {
  font-weight: 700;
  font-size: 26px;
}

.second-section .features-item ul {
  list-style: none;
  padding: 0;
}

.second-section .features-item ul li {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}

.second-section .features-item ul li:last-child {
  padding-bottom: 0;
}

.second-section .features-item ul i {
  font-size: 20px;
  padding-right: 4px;
  color: var(--accent-color);
}

.second-section .features-item p:last-child {
  margin-bottom: 0;
}

/** MEDIA - QUERY **/

@media (max-width: 900px) {
  .first {
    grid-template-columns: 100%;
    grid-template-rows: 20% 40%;
    grid-template-areas:
      "slider"
      "content";
    place-items: center;
    gap: 64px;
    padding: 60px;
  }
  .description {
    grid-area: content;
    text-align: center;
  }
}
