* {
  box-sizing: border-box;
}

/* SECTION */

section {
  display: grid;
  grid-template-columns: 50% 45%;
  place-items: center;
  gap: 60px;
  min-height: 100vh;
  padding: 20px 60px;
}

/* Content */
.content {
  max-width: 600px;
}

.content h1 {
  font-family: "";
  font-size: clamp(2rem, 4vw, 3.5rem);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 30px;
  color: #fff;
}

.content p {
}
